
language: go

go:
  - 1.8.x

sudo: required

services:
  - docker

before_install:
  - sudo apt-get install -y nodejs
  - curl -sfL https://install.goreleaser.com/github.com/golangci/golangci-lint.sh | sh -s -- -b $(go env GOPATH)/bin v1.16.0

script:
  - golangci-lint run
  - go test -v --timeout 30s ./... && (CGO_ENABLED=0 GOOS=linux go build -ldflags '-d')
  - if [ "$TRAVIS_BRANCH" == "master" ] && [ "${TRAVIS_GO_VERSION::3}" == "${PRODUCTION_GO_VERSION}" ]; then
      echo "Building container gonitro/sidecar:${TRAVIS_COMMIT::7}" &&
      cd ui && npm install && cd .. &&
      docker build -f docker/Dockerfile -t sidecar .  &&
      docker tag sidecar gonitro/sidecar:${TRAVIS_COMMIT::7} &&
      docker tag sidecar gonitro/sidecar:latest;
    fi

after_success:
  - docker login -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD"
  - echo "Building on Go version ${TRAVIS_GO_VERSION} for branch ${TRAVIS_BRANCH}"
  - if [ "$TRAVIS_BRANCH" == "master" ] && [ "${TRAVIS_GO_VERSION::3}" == "${PRODUCTION_GO_VERSION}" ]; then
      echo "Pushing container gonitro/sidecar:${TRAVIS_COMMIT::7}" &&
      docker push gonitro/sidecar:${TRAVIS_COMMIT::7};
    fi
  - if [ "$TRAVIS_BRANCH" == "master" ] && [ "${TRAVIS_GO_VERSION::3}" == "${PRODUCTION_GO_VERSION}" ] && [ -z "${NO_PUSH_LATEST}" ]; then
      docker push gonitro/sidecar:latest;
    fi

deploy:
  provider: releases

  api_key:
    secure: "PU+Ljhr08WaPsCf34UCXEK12RszVY7aEwkyHGj4LH4Pw1a6FGbLVtBBvCKE+GubQOUBfWXRTAcs4blq9QsiTeoGS/zHo8HjQK3G3ayltjS6O8AuJb2Ll62ZDaHePMnbHeWrifmXNoJqv21z5sc12jCKwajZc9yDbpZDwE+dmKytCYqDWY+i9LBlj1B1tRvrt/yhuUKbyeOHTaztrWX4Oyeoe9wjRu4wXtC/fh7+NVyjl6Tq9NvzFNEEdl4LmAWGK0FZjPYNZpUDbjOgjBiPzxx0r6v+GQJyK2BtqiMAynSDgrNNLBJHjkzZOWD6cHTfrJwUizyNS1K5cgRUcCQUyLLhQFOwwdw623W4+TfULoK8IUx4tPprH6WgpNpTZpCdbpsATbmpiEG+RpwsCbU2SoEqx+inCE7BgQOoH57GPFXSMTds6P5bMjgPGBbg+zeP9b4YtSeKNr4l+b/8u77EbH5P+0bnXStHL8NaIz4lqWMN7u8rxTRyAFSxD4znGNXQi0RANHdIG55k701ueowGZBRVF3MIx/gBMsY8pzrlvxpz6QjyB2rVD7cRKEGRmiWIvXJcjWR9MI0KEAh44ehoPjDStE7//YIM3E+ImNF03ZyhpIZTN1Xdo/7waVRhIP6C9MOFfEnIS8XL5LwfgrdvYO9zNcqbqg8oUpZUIlP1ik8k="

  file: sidecar

  skip_cleanup: true

  on:
    repo: Nitro/sidecar
    tags: true
    condition: ${TRAVIS_GO_VERSION::3} == ${PRODUCTION_GO_VERSION}
