<html>
<head>
	<meta http-equiv="refresh" content="4">
    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<style>
		.panel-heading {
           padding: 5px 15px;
		}
		h4 {
           margin-top: 5px;
           margin-bottom: 5px;
		}
		.table {
           margin-bottom: 5px;
		}
		body {
			width: 100%;
		}
	</style>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
        <h1>Sidecar
        <a class="navbar-brand" rel="home" href="#" title="Sidecar">
          <img style="max-width:100px; margin-top: -25px;" src="/static/Sidecar.png">
        </a></h1>
    </div>
  </div>
</nav>

  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-primary">
      <div class="panel-heading"><h4>Cluster - {{ clusterName }}</h4></div>
	  <div class="panel-body">
        <table class="table table-condensed table-responsive">
		{{ range $row := .Members }}
		  <tr>
		  {{ range $row }}
	        <th>{{ .Node.Name }}</th>
		  {{ end }}
		  </tr>
		  <tr>
		  {{ range $row }}
	        <td>{{ .Updated | timeAgo }}</td>
		  {{ end }}
		  </tr>
		{{ end }}
        </table>
	  </div>
	</div>
  </div>

  <div class="col-md-2 pull-right">
    <div class="panel panel-default">
      <div class="panel-heading"><h4>Services &nbsp;<span class="badge">{{ .Services | len }}</span><h4></div>
	    <div class="panel-body">
	      <ul class="list-group">
          {{ range $svcName, $services := .Services }}
	        <li class="list-group-item"><span class="badge">{{ $services | len }}</span><a href="#{{ $svcName }}">{{ $svcName }}</a></li>
          {{ end }}
	      </ul>
	    </div>
	  </div>
	</div>
  </div>

{{ range $svcName, $services := .Services }}
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default pull-left">
      <div class="panel-heading" id="{{ $svcName }}"><h4>{{ $svcName }}<h4/></div>
	  <div class="panel-body">
        <table class="table table-striped table-condensed table-responsive">
	    <tr>
          <th>Hostname</th><th>ID</th><th>Image</th><th>Ports</th><th>Created</th><th>Updated</th><th>Status</th>
	    </tr>
        {{ range $services }}
          {{ if eq .Status 0 }}
          <tr>
          {{ else if eq .Status 1 }}
          <tr class="warning">
		  {{ else if eq .Status 2 }}
          <tr class="danger">
		  {{ else }}
          <tr class="info">
          {{ end }}
            <td>{{ .Hostname }}</td>
	    	<td>{{ .ID }}</td>
            <td>{{ .Image | printf "%.25s" }}</td>
            <td>{{ .Ports | portsStr }}</td>
            <td>{{ .Created | timeAgo }}</td>
            <td>{{ .Updated | timeAgo }}</td>
            <td>{{ .Status | statusStr }}</td>
          </tr>
        {{ end }}
	    </table>
      </div>
    </div>
  </div>
{{ end }}
</body>
</html>
